<html>
<head>
    <title>Credit Login / Register Form a Responsive Widget Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Credit Login / Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="{{ asset('template/login/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ asset('template/login/css/popuo-box.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('template/login/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- //web font -->
</head>
<body class="no-main-slider">

<div class="color-picker">
    <a href="#" class="handle"><i class="fa fa-cog"></i></a>
    <div class="settings-header">
        <h3>Setting panel</h3>
    </div>
    <div class="section">
        <h4 class="color"><i class="icon-tint"></i> Color schemes:</h4>
        <div class="colors">
            <a href="#" class="color-1" ></a>
            <a href="#" class="color-2" ></a>
            <a href="#" class="color-3" ></a>
            <a href="#" class="color-4" ></a>
            <a href="#" class="color-5" ></a>
        </div>
    </div>
</div>

<div id="loading-wrap">
    <div id="loading">
        <i class="fa fa-cog fa-spin"></i>
    </div>
</div>

<header class="home-header"> <!-- header -->

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-inner">
                <!-- logo-->
                <a href="index-2.html" title="Home" class="logo pull-left"><img src="img/logo.png" alt="logo"></a>
                <!-- logo ends -->

                <!-- Menu -->
                <ul class="nav pull-left" id="nav">
                    <li><a href="index-2.html" title="">Home</a></li>
                    <li><a href="catalog-right.html" title="">Catalog</a>
                        <ul>
                            <li><a href="catalog-right.html">Right sidebar</a></li>
                            <li><a href="catalog-left.html">Left sidebar</a></li>
                            <li><a href="catalog.html">Without sidebar</a></li>
                            <li><a href="product-detail.html">Product detail</a></li>
                        </ul>
                    </li>
                    <li><a href="components.html" title="">Pages</a>
                        <!-- sub menu -->
                        <ul>
                            <li><a href="components.html" title="">Components</a></li>
                            <li><a href="about-us.html" title="">About us</a></li>
                            <li><a href="services.html" title="">Services</a></li>
                            <li><a href="gallery-4.html" title="">Gallery</a>
                                <!-- sub sub menu -->
                                <ul>
                                    <li><a href="gallery-4.html" title="">Gallery 4 columns</a></li>
                                    <li><a href="gallery-3.html" title="">Gallery 3 columns</a></li>
                                    <li><a href="gallery-2.html" title="">Gallery 2 columns</a></li>
                                </ul>
                                <!-- sub sub menu ends -->
                            </li>
                        </ul>
                        <!-- sub menu ends -->
                    </li>
                    <li><a href="shop-right.html" title="">Shop</a>
                        <ul>
                            <li><a href="shop-right.html">Right sidebar</a></li>
                            <li><a href="shop-left.html">Left sidebar</a></li>
                            <li><a href="shop.html">Without sidebar</a></li>
                            <li><a href="shop-product-detail.html">Shop Product detail</a></li>
                            <li><a href="shop-cart.html">Cart</a></li>
                            <li><a href="shop-checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                    <li><a href="blog-right.html" title="">Blog</a>
                        <ul>
                            <li><a href="blog-right.html">Right sidebar</a></li>
                            <li><a href="blog-left.html">Left sidebar</a></li>
                            <li><a href="blog.html">Without sidebar</a></li>
                            <li><a href="blog-masonry.html">Blog masonry</a></li>
                            <li><a href="blog-detail.html">Blog detail</a></li>
                        </ul>
                    </li>
                    <li class="selected"><a href="contact.html" title="">Contact</a></li>
                </ul>
                <!-- Menu ends -->
                <div class="menu-right-bar">
                    <ul class="menu-right-bar-ul">
                        <li class="text hidden-sm hidden-xs">1-800-555-6789</li>
                        <li><a href="shop-cart.html" class="button btn btn-primary" role="button"><i class="fa fa-shopping-cart"></i> (2)</a></li>
                        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#singInForm">Sign in</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="singInForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel">Please Sing Up</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="login-name" class="control-label">Login name:</label>
                        <input type="text" class="form-control" id="login-name">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password:</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Log in</button>
                </div>
            </div>
        </div>
    </div>
</header>
{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    {% endif %}


            <input type="hidden" name="_target_path" value="/check">

    <div class="main-agileits">

    <div class="form-w3-agile"></br>
        </br>
        <h2>Credit login form</h2>
            <div class="form-sub-w3">
    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <div class="icon-w3">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
            </div>
            <div class="form-sub-w3">
    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />
                <div class="icon-w3">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </div>
            </div>
            <p class="p-bottom-w3ls">vous-étes nouveau sur KARHABTY?<a class="w3_play_icon1" href="{{ path('fos_user_registration_register') }}">  Register here</a></p>

            <div class="submit-w3l">

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>


    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>

    </div>
        </div>
</form>
